@tailwind base;
@tailwind components;
@tailwind utilities;
ul li{
  @apply px-3;
}
.text-style{
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: rgb(242, 225, 186);
}
.text-styles{
  font-size: 18px;
}
.navigation{
  @apply fixed top-12 left-0 bg-neutral-500 w-full h-1/4;
}
.navigation li{
  @apply w-full text-center border-b-2;
}
html{
  scroll-behavior: smooth;
}
.bg-all{
  background: rgb(242, 225, 186);
}  
.border{
  border-bottom: 2px;
  border-color: rgb(253, 49, 4);
}
a{
  transition: color 0.3s ease;
}
.border-animate{
  transition: width 0.5s ease;
  height: 4px;
  background-color:#fd3104;
  left:0;
  width: 0;
  bottom: 0;
}
.border-animate.visible{
  width: 170px;
}
.border-card{
  border-radius: 20px;
}
